.about_title{
    font-weight: 700;
    font-size: 64px;
    color: #2E2E2E;
}

.about_number{
    font-style: normal;
    font-weight: 700;
    font-size: 160px;
    color: #E6E6E6;
}
.about_top_text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
}

.about{
    margin-top: 178px;
    display: flex;
}

.about_paragraph{
    font-size: 16px;
    line-height: 32px;
    color: #808080;
    max-width: 1093px;
    margin-bottom: 93px;
}

.about_group{
    margin-bottom: 163px;
}